.app
  display flex
  border 10px solid goldenrod
  flex-wrap wrap
  flex-direction column
  align-items center
  justify-content space-around

.heroes
  float left
  margin 10px
  display inline
  border 1px solid orange

.list-of-heroes
  border 10px solid blue


.opponents
  float left
  display inline
  margin 10px
  border 10px solid red
