html
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);

.app
  width 1080px
  margin: 0 auto;
  padding:50px;


.heroes
  position relative

.heroimg
  z-index 0
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

.order
  list-style none
  display flex
  flex-flow row wrap

.opponents
  position relative
  margin 0px
  flex 1 0 15%
  /*border 1px solid red*/

/* flex container*/
ul.list-of-heroes2
  list-style none
  display flex
  flex-flow row wrap



/* flex items */
.Attacker
  flex 1 0 15%
  order 1
  /*border 2px solid purple*/


.Defense

  flex 1 0 15%
  order 2
  /*border 2px solid green*/

.Tank

  flex 1 0 18%
  /*border 2px solid lightblue*/
  order 3

.Support
  align-items center
  flex 1 0 18%
  /*border 2px solid lightness(blue, 80%)*/
  order 4

button
  position absolute
  opacity 0
  right 0 px
  height 100%
  width 100%


button:hover
  position absolute
  color #fff
  font-size 40px
  right 0px
  height 100%
  width 100%
  background: rgba(0, 0, 0, 0.6)
  opacity 1

h2
  position: absolute;
  z-index 0
  left: 0;
  top: 43%
  width: 100%;

h2 span
  color: white;
  z-index 0
  font: bold 14px/20px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 3px;

h2 span.spacer
  z-index 0
  padding 0 5px
